{{ define "main" }}
<!-- categories list -->
<div class="taxonomy--box">
  <div class="taxonomy--categories sidebar">
    {{ partial "categories.html" . }}
  </div>
  <div class="main main-offset">
    <h1 class="taxonomy--title">{{.Title}}</h1>
    <ul class="taxonomy--list list-unstyled">
      <!-- Ranges through content/*.md -->
      {{ range .Data.Pages }}
      <li class="taxonomy--item list-unstyled">
        <span>{{.Date.Format "2006-01-02"}}</span>
        <a href="{{.Permalink}}">{{.Title}}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</div>
{{ end }}