{{ define "main" }}
<!-- tags list -->
<div class="taxonomy--box">
<div class="taxonomy--tags sidebar">
  {{ partial "tags.html" . }}
</div>
<div  class="main main-offset">
  <h1 class="taxonomy--title">{{.Title}}</h1>
  <ul class="taxonomy--list list-unstyled">
    <!-- Ranges through content/post/*.md -->
    {{ range .Data.Pages }}
    <li class="taxonomy--item list-unstyled">
      <span>{{.Date.Format "2006-01-02"}}</span>
      <a href="{{.Permalink}}">{{.Title}}</a>
    </li>
    {{ end }}
  </ul>
</div>
</div>
{{ end }}